<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<h2>Choose Payment Mode</h2>

<table>
<tr><td>Card Number(we support all major cards)</td></tr>
<tr><td><input type="text" size="50" /></td></tr>
<tr><td>Card Holder Name(As mentioned on card)</td></tr>
<tr><td><input type="text" size="50" /></td></tr>
<tr><td>Expiration (MM/YYYY)</td></tr>
<tr><td><input type="text" size="2" class="card-expiry-month input-mini">
		<span> / </span>
		<input type="text" size="4" class="card-expiry-year input-mini"></td></tr>
<tr><td>CVV</td></tr>
<tr><td><input type="text" size="4" autocomplete="off" class="card-cvc input-mini"></td></tr>
</table>
<button type="submit" class="btn" id="submitBtn">Submit Payment</button>
</body>
</html>
