<html>
	<head>
		<title>Registration Page</title>
	</head>
	<body>
	<h1>LIST OF FLIGTHS</h1>
			<table>
				<tr><th>Fligth_NO</th><th>Fligth_Name</th><th>From</th><th>To</th><th>Date</th><th>BOOKING</th></tr>
				<tr><th><input type="text" value="{{fligth_no}}"></th><th><input type="text" value="{{fligth_name}}"></th>
				<th><input type="text" value="{{from}}"></th>
				<th><input type="text" value="{{to}}"></th>
				<th><input type="text" value="{{date}}"></th>
				<th>
				<a href="/frames/">
				<input type="button" value="select">
				</a>
				</th></tr>
				
			
			</table>
	</body>
</html>