<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="green">
	<h1>FLIGTHS</h1>
</font>
<form action='/fligth_search/' method="GET">
<table>
<tr><td>From</td><td>To</td></tr>
<tr><td><input type="text" name="From" /></td><td><input type="text" name="to" /></td></tr>
<tr><td>Date</td></tr>
<tr><td><input type="text"  type="date" /></td></tr>
<tr><td><input type="submit" value="search"  /></td></tr>
</table>
</form>
</center>
</body>
</html>
