<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="green">
	<h1>WELCOME FOR TICKET BOOKING</h1>
</font>
<a href="/check_fligths/">
   <input type="button" value="Fligths" />
</a>
<a href="check_cabs">
   <input type="button" value="Cabs" />
</a>
</table>
</center>
</body>
</html>
