<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<font color="#9900FF"><h1>LIST OF FLIGTHS</h1></font>
<table border="1" background="images.jpg">
<tr><th><font color="yellow">Fligth_No</font></th><th><font color="yellow">Fligth_Name</font></th><th><font color="yellow">From</font>
</th><th><font color="yellow">To</font></th><th><font color="yellow">Booking</font></th></tr>
<tr><td>5566</td><td>surya</td><td>hyderabad</td><td>pune</td><td><input type="submit" value="BOOK NOW" /></td></tr>
<tr><td>41245</td><td>gopal</td><td>banglore</td><td>kerala</td><td><input type="submit" value="BOOK NOW" /></td></tr>
<tr><td>8976</td><td>ravi</td><td>malesiya</td><td>hyderabad</td><td><input type="submit" value="BOOK NOW" /></td></tr>
<tr><td>3245</td><td>giri</td><td>kadapa</td><td>tirupathi</td><td><input type="submit" value="BOOK NOW" /></td></tr>

</table>
</body>
</html>
