<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Registration Form</title>
</head>

<body>
<h1>Registration Form</h1>
<form action="/sign_up_user/" method="POST">
	{% csrf_token %}
<table>
<tr><td>Login_Name</td><td><input type="text" name="login_name" /></td></tr>
<tr><td>Full_Name</td><td><input type="text" name="full_name" /></td></tr>
<tr><td>Email_Id</td><td><input type="text" name="email_id" /></td></tr>
<tr><td>Password</td><td><input type="password" name="pwd1" /></td></tr>
<tr><td>Confirm_Password</td><td><input type="password" name="pwd2" /></td></tr>
<tr><td>Phone_Number</td><td><input type="text" name="phone_number" /></td></tr>
<tr><td>Gender</td><td><input type="text" name="gender" /></td></tr>
<tr><td>Date_Of_Birth</td><td><input type="text" name="date_of_birth" /></td></tr>
<tr><td>Nationality</td><td><input type="text" name="nationality" /></td></tr>
<tr><td>Address</td><td><input type="text"  name="address"/></td></tr>
<tr><td>City</td><td><input type="text" name="city" /></td></tr>
<tr><td> Country</td><td><input type="text" name="country"/></td></tr>
<tr><td>State</td><td><input type="text" name="state" /></td></tr>
<tr><td>Postal_Code</td><td><input type="text" name="postal_code" /></td></tr>
<tr><td> ID_Card_Type</td><td><input type="text" name="id_card_type" /></td></tr>
<tr><td>ID_Card_Number</td><td><input type="text"  name="id_card_number"/></td></tr>
<tr><td>Issuing_Authority</td><td><input type="text" name="issuing_authority" /></td></tr>
<tr><td><input type="submit" value="sign_up" /></td><td><input type="reset" /></td></tr>
</table>
</form>
</body>
</html>
