<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<font color="#FF0000" dir="rtl">
<h1><marquee direction="left">WELCOME TO FLIGHTS AND CABS BOOKING</marquee></h1>
</font>
<h2>Flight and Cab tickets booking</h2>
<table>
<tr><td>From</td><td>To</td></tr>
<tr><td><input type="text" /></td><td><input type="text" /></td></tr>
<tr><td>Adult</td><td>Child</td></tr>
<tr><td><input type="text" /></td><td><input type="text" /></td></tr>
<tr><td>Depart on</td></tr>
<tr><td><input type="text" /></td></tr>
</table>
Click &nbsp; <a href='\check avalability\'>HERE</a> &nbsp; to check avalability......
</body>
</html>
